Source: ltbscrapersgui
Maintainer: mrosanes <mrosanes@cells.es>
Section: python
Priority: optional
Build-Depends: dh-python, python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://git.cells.es/controls/LTBScrapersGUI

Package: ltbscrapersgui
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Diagnostics Scrapers GUI
 Diagnostics Scrapers Graphic User Interface

